/* =========================
   DESKTOP (≥ 1024px)
========================= */
@media (min-width: 1024px) {
    .header {
        padding: 1rem 2rem;
    }

    .hero {
        padding: 4rem;
        font-size: 1.2rem;
    }

    .weather-section {
        max-width: 1000px;
        margin: 0 auto;
    }

    .places-container {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1000px;
        margin: 0 auto;
    }
}