@import './variables.css';

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--bg-light);
  color: var(--text-dark);
}

.header {
  background: var(--primary);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* **************************************************** */
/* Navigation
/* **************************************************** */

.nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 260px;
  background: var(--primary);
  padding: 5rem 1.5rem 1rem;

  display: flex;
  flex-direction: column;

  transform: translateX(100%);
  transition: transform 0.35s ease;
  z-index: 1002;

  box-shadow: -10px 0 30px rgba(0, 0, 0, 0.2);
}

/* OPEN STATE */
.nav.active {
  transform: translateX(0);
}

/* LINKS */
.nav a {
  padding: 0.5rem 0;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav a.active {
  color: white;
  background: rgba(255, 255, 255, 0.15);
  padding: 0.4rem 0.6rem;
  border-radius: 6px;
}

/* MENU ICON */
.menu-icon {
  font-size: 1.6rem;
  cursor: pointer;
  z-index: 1001;
}

/* OVERLAY BACKGROUND */
.overlay {
  position: fixed;
  inset: 0;

  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;

  z-index: 1000;
}

.overlay.active {
  opacity: 0.8;
  pointer-events: auto;
}

/* **************************************************** */
/* Hero Styles
/* **************************************************** */

.hero {
  position: relative;
  height: 50vh; /* full screen */
  width: 100%;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-slider {
  position: absolute;
  inset: 0;
}

.slide {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}

/* dark overlay for readability */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
  z-index: 1;
}

.hero-overlay {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
}

/* **************************************************** */
/* Section titles Styles
/* **************************************************** */

/* Section titles */
.section-title {
  text-align: center;
  margin: 1rem 0;
  font-weight: bold;
}

/* Divider */
.divider {
  width: 40px;
  height: 3px;
  background: #ccc;
  margin: 1rem auto;
}

/* Cards */
.card {
  background: white;
  border: 1px solid #ddd;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
}

/* ********************************************* */
/* Weather Styles */
/* ********************************************* */
.weather-content {
  width: 100%;
}

.weather-flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#weather-icon {
  width: 60px;
  height: 60px;
}

/* Weather cards */
.weather-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Places list */
.place-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
}

.place-item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
}


.footer {
  text-align: center;
  padding: 1rem;
  background: var(--secondary);
  color: white;
  margin-top: 2rem;
}