:root{
    --primary: #A2D9FB;
    /* Light blue */
    --secondary: #0B6E4F;
    /* Forest green */
    --accent: #800020;
    /* Ground maroon */

    --text-dark: #222;
    --text-light: #fff;
    --bg-light: #f5f5f5;
    
}