:root {
  --primary: #a2d9fb;
  /* Light blue */
  --secondary: #0b6e4f;
  /* Forest green */
  --accent: #800020;
  /* Ground maroon */

  --text-dark: #222;
  --text-light: #fff;
  --bg-light: #f5f5f5;
}
