/* =========================
   TABLET (≥ 768px)
========================= */
@media (min-width: 768px) {
  h2 {
      font-size: 2rem;
    }
  
    h3 {
      font-size: 1.2rem;
    }
  
    h1 {
      font-size: 4.5rem;
    }
  /* **************************************************** */
  /* Navigation Styles
  /* **************************************************** */
  .nav {
    position: static;
    height: auto;
    width: auto;

    display: flex;
    flex-direction: row;

    transform: none;
    box-shadow: none;
    padding: 0;
  }

  .overlay {
    position: fixed;
    inset: 0;

    width: auto;
    height: auto;

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
  }

  .overlay.active {
    opacity: 0.8;
    pointer-events: auto;
  }

  .menu-icon {
    display: none;
  }

  /* **************************************************** */
  /* Hero Styles
  /* **************************************************** */

  .hero {
    padding: 3rem;
    height: 60vh;
  }

  /* **************************************************** */
  /* Explore Section */
  /* **************************************************** */
    .explore-section {
      width: 100%;
    }
  
    /* MATCH OTHER SECTIONS */
    .explore-container {
      display: flex;
      gap: 1rem;
      padding: 0 1rem;
      /* 👈 align with others */
      overflow-x: auto;
    }
  .explore-container {
    max-width: 1100px;
    /* same feel as other sections */
    margin: 0 auto;
    /* 👈 centers the whole row */
    overflow: visible;
  }

  /* **************************************************** */
  /* Weather Section */
  /* **************************************************** */
  .weather-section {
    display: flex;
    gap: 1rem;
    padding: 0 1rem;
  }

  .weather-content {
    justify-content: space-between;
    flex-direction: row;
  }

  .weather-card {
    flex: 1;
  }

  /* **************************************************** */
  /* Places styles */
  /* **************************************************** */
  .places-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 0 1rem;
  }

  .place-card img {
    height: 250px;
  }
}
