:root {
  /* PRIMARY  */
  --primary: #06c1fa;
  /* --primary: #2FCEFF; */

  /* SECONDARY */
  --secondary: #E1230C;

  --accent: #f5e466;
  --accent-golden: #f2af1f;

  /* ⚪ BACKGROUND */
  --bg-light: #f8f1e2;
  --bg-dark:#393838;

  /* ⚫ TEXT */
  --text-dark: #1a1a1a;
  --text-light: #ffffff;
}
